@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #646cff;
  --toastify-font-family: "Poppins", "sans-serif";
}

body {
  font-family: "Poppins", "sans-serif";
  color: rgba(255, 255, 255, 0.87);
  background-color: #0F0F0F;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #181818 inset;
  transition: background-color 5000s ease-in-out 0s;
}
